@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  @apply bg-white rounded overflow-hidden shadow-md hover:shadow-lg relative;
}

.badge {
  @apply bg-gray-300 text-gray-800 uppercase text-xs font-bold rounded-full p-2 absolute top-0 ml-2 mt-2 flex items-start gap-1;
}

.btn {
  @apply rounded-full py-2 px-3 uppercase text-xs font-bold cursor-pointer tracking-wider;
}

.login {
  @apply text-primary border-primary md:border-2 hover:bg-primary hover:text-white;
}
