

html {
    font-size: 62.5%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} 
/* 
#q{
	margin: 3rem;
	padding: 2rem 2rem;
	background: none;
	border: 0.3rem solid rgb(86, 86, 211);
	color:rgb(229, 229, 236);
	font-size: 1.4rem;
	border-radius: 50%;
	border-radius: 1rem;
	background:rgb(86, 86, 211)
	
}

h1{
	background:rgb(165, 97, 7);
	height: 5rem;
	
}

img{
	height: 10rem;
	width: 10rem;
}

a{
	display:inline-block;
	background-color: burlywood;
	height:10rem;
	width:20rem;
	text-align: end;
	margin: 3rem;
	padding: 1rem;
	
}

html,body{
	height: 200%;
}

.container {
	background: cadetblue;
	width: 80%;
	height: 80%;
	margin:auto;
	position:relative;
}

.box1,.box2,.box3{
	width:20%;
	height:20%;
	

}

.box1{
	position:absolute;
	background: brown;
	
	top: 5rem;
}

.box2{
	background: coral;
	position:relative;
	left: 10rem;
}

.box3{
	background: rgb(1, 15, 15);
	top: 1rem;

	position:sticky;
} */

/* button{
	padding: 2rem 4rem;
	cursor: pointer;
}

button:hover{
	background: brown;
}	

button:focus{
	background: aqua;
	color:white;
}

input:focus{
	background: rgb(220, 214, 247);
	color:rgb(252, 224, 224);
} */

/* button:nth-child(3){
	padding:2rem 4rem;
	cursor:pointer;
} */

/* h1::before{
	content: "Eo! ";
}

h1::after{
	content: ". Tot bé? ";
} */

.box1, .box2, .box3 {

	max-width: 50rem;
	height: 30rem;
	border: 2px solid black;
	margin: 1rem;
	font-size: 2rem;
}

html, body{
	height: 100%;
}

.box2 {
	float: right;
}

.box1 {
	height: 50%;
	float: left;
}

.clear {
	clear: both;
}