

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 2rem;
	font-family: 'sans serif';
	color: rgb(102, 102, 102);
}

hr {
	border: 5px solid rgb(102, 102, 102);
	width: 60vw;
	margin: auto;
}

p {
	text-align: center;
	padding: 10px;
}

.contenidor-flex {
	width: 80vw;
	height: 15vh;
	margin: auto;
	padding: 10px;
	border: 5px solid green;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.items-flex {
	width: 100px;
	height: 100px;
	background-color: palegoldenrod;
	margin: 10px;
	padding: 10px;
	border: 5px solid darkred;
}

.item1 {
	flex: 1;
}

.item2 {
	flex: 3;
}

.item3 {
	flex: 1;
}

.contenidor-grid {
	width: 80vw;
	height: 50vh;
	margin: auto;
	padding: 10px;
	border: 5px solid darkorange;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto auto;
	gap: 10px;
}

.items-grid {
	padding: 10px;
	background-color: burlywood;
	border: 5px solid green;
}

.item4 {
	grid-area: 1 / 1 / 2 / 4; 
}

.item9 {
	grid-column: 3 / 4;
	grid-row: 2 / 4;
}

.contenidor-grid-area {
	width: 80vw;
	height: 70vh;
	margin: auto;
	padding: 10px;
	border: 5px solid darkorange;
	display: grid;
	grid-template-areas: "header header header" "menu nav nav" "aside1 main aside2" "footer footer footer";
	gap: 10px;
}

.items-grid-area {
	padding: 10px;
	background-color: burlywood;
	border: 5px solid green;
}

.item10 {
	grid-area: header;
}

.item11 {
	grid-area: menu;
}

.item12 {
	grid-area: nav;
}

.item13 {
	grid-area: aside1;
}

.item14 {
	grid-area: main;
}

.item15{
	grid-area: aside2;
}

.item16 {
	grid-area: footer;
}








