

:root {
	--fonsPropi: #0f0;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.caixes {
	width: 300px;
	height: 300px;
	background-color: var(--fonsPropi, #f00);
	margin: 50px;
	font-size: 32px;
	text-align: center;
	line-height: 300px;
}

.caixa1 {
	background-color: #f00;
	position: static;
}

.caixa2 {
	background-color: #0f0;
	position: relative;
	left: 100px;
	z-index: -2;
}

.container {
	position: relative;
	border: 5px solid #888;
	height: 400px;
}

.caixa3 {
	background-color: #00f;
	position: absolute;
	top: 25px;
	left: 200px;
}

.caixa4 {
	background-color: #ff0;
	position: sticky;
	top: 50px;
	left: 20px;
}

.caixa5 {
	background-color: #0ff;
	position: fixed;
	top: 0;
	right: 50px;
	z-index: -1;
}

.caixa6 {
	background-color: #f0f;
	margin-top: 2000px;
	margin-bottom: 2000px;
}


