
html {
	font-size: 6.25%;
}

body {
	background-color: #ccc;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* user-select: none; */
	text-decoration: none;
}

.contenidor {
	margin: 36rem;
	font-size: 16rem;
}

.quadrat {
	width: 300px;
	height: 300px;
	background-color: darkgreen;
	margin-bottom: 20rem;
	transition: background-color 1s;
	animation: moviment 4s infinite alternate-reverse linear;
}

.quadrat:hover {
	background-color: #00f;
	cursor: pointer;	
}

.quadrat:active {
	background-color: #0f0;
	transition: none;
}

@keyframes moviment {
	0% {
		background-color: #777;
		margin-left: 0;
	}
	50% {
		background-color: transparent;
		border: 20rem solid #000;
	}
	100% {
		background-color: #b6b;
		margin-left: 100rem;
		border-radius: 50%;
	}
}

input {
	padding: 16rem;
	width: 70vw;
	background: #f33;
	border: none;
	border-bottom: 4rem solid #000;
	animation: moviment2 4s infinite alternate-reverse linear;
}

input:focus {
	background-color: rgb(88, 14, 110);
	outline: none;
	color: #fff;
}

input:active {
	background-color: rgb(110, 41, 14);
}

@keyframes moviment2 {
	from {
		width: 70vw;
	}
	
	to {
		width: 90vw;
	}
}

a {
	display: inline-block;
	margin: 20rem 0;
	font-size: 20rem;
	color: #222;
}

a:link {
	color: #f00;
}

a:visited {
	color: #5a5;
}

p {
	font-size: 20rem;
	margin: 20rem auto;
}

p::first-letter {
	color: #f00;
	font-size: 50rem;
	margin-right: 15rem;
}

p::first-line {
	color: #5a5;
}

span {
	float: left;
	color: #f00;
	font-size: 50rem;
	margin-right: 15rem;
}

.p3::first-letter {
	color: inherit;
	font-size: inherit;
	margin: 0;
}

.p3::first-line {
	color: inherit;
}

.p3::before {
	content:"BEFORE!";
	color:#b6b;
	font-size: 25rem;
	margin-right: 10rem;
}

p::selection {
	background-color: #0aa;
	color:#eee;
	text-shadow: 2rem 2rem 2rem #000;
}

.contenidor-p3 {
	width: 80%;
	height: 150rem;
	background-color: #eee;
	border: 5rem solid red;
	padding: 15rem;
	overflow: auto;
}

.p3 {
	margin: 0;
	font-size: 25rem;
	text-align: justify;
}

.quadrat2 {
	width: 300rem;
	height: 300rem;
	background-color: #227;
	margin: 35rem auto;
	transform-origin: 0% 0%;
	transform: translate(100rem, 100rem) scale(1.2) rotate(45deg);
}



