* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
	text-decoration: none;
	font-family: 'Helvetica', sans-serif;
}

body {
	background-color: #777;
}

div {
	width: 80vw;
	height: 77%;
	margin: 5% 10%;
	border-radius: 1em;
	overflow: hidden;
	box-shadow: 8px 8px 8px #000;
}

.title {
	text-align: center;
}

header {
	height: 3em;
	background-color: #f80;
	line-height: 3em;
	margin-bottom: .2em;
}

header:hover {
	background-color: #f00;
	color: #fff
}

h1 {
	font-size: 2em;
}

nav {
	height: 2em;
	background-color: #000;
	line-height: 2em;
	margin-bottom: .2em;
}

h2 {
	color: #fff;
}

main,
aside {
	height: 23em;
	line-height: 23em;
	margin-bottom: .2em;
	overflow: scroll;
}

main {
	width: 65%;
	background-color: #0e0;
	float: left;
}

aside {
	width: 34.3%;
	background-color: #e0e;
	float: right;	
	
}

.main-aside {	
	font-size: 3em;	
}

p {
	line-height: 1.5;
	font-size: 1.5em;
	padding: 1rem;
}

footer {
	height: 2.6em;
	background-color: #000;
	clear: both;
	margin-top: .2em;
	line-height: 2.6em;
}

.title-footer {
	color: #fff;	
	font-size: 1.3em;
}