* {
  box-sizing: border-box;
}

:root {
  --fons: #fcf7f8;
  --color-blau: #3860ec;
  --color-blanc: #fff;
  --color-gris-clar: #dedcdc;
  --color-gris: #b1b1b1;
  --color-gris-fosc: #555;
  --color-negre: #000;
  --color-taronja: #ffa500;
  --color-vermell: #ef3939;
}

body {
  background: var(--fons);
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

ul {
  margin: 0;
}

.contenidor {
  max-width: 500px;
  width: 90%;
  padding: 30px;
  border-radius: 20px;
}

.titol {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-fosc);
  margin-bottom: 20px;
}

.grup {
  padding: 60px 0;
  border-bottom: 1px solid var(--color-gris);
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  border-radius: 3px;
  padding: 10px;
  border: 1px solid var(--color-gris);

  /* Estilitza el placeholder */
  &::placeholder {
    color: var(--color-gris-fosc);
  }
}

.grup div p,
.grup div div,
.grup div span,
.grup ul li {
  background: var(--color-gris-clar);
  padding: 10px;
}

/* ? ------------- ENLLAÇOS ------------- */
/* HAN D'ANAR EN AQUEST ORDRE */

/* S'activa quan  es pinta la pàgina */
.enllas:link {
  color: var(--color-blau);
}

/* Enllaç ja visitat */
.enllas:visited {
  color: var(--color-gris);
}

/* S'activa quan hi passem pel famunt */
.enllas:hover {
  color: var(--color-taronja);
}

/* S'activa quan es clica */
.enllas:active {
  color: var(--color-negre);
}

/* S'aplica a l'element amb una id --> # */
/* Quan l'enllaç envia a una secció */
&:target {
  color: var(--color-vermell);
}

/* ? --- --- --- --- INPUTS --- --- --- --- */

input {
  /* Passem el ratolí per sobre de l'element */
  &:hover {
    border-color: var(--color-gris-fosc);
  }

  /* Hi ha l'atenció en l'element */
  &:focus {
    border-color: var(--color-blau);
  }

  &:valid {
    /* Quan la validació del camp és correcta */
  }

  &:invalid {
    /* Quan la validació del camp és incorrecta */
  }

  &:required {
    /* Quan el camp és obligatori */
  }
}

/* div del Formulari */
.grup-input {
  /* S'aplica a tot el formulari quan es clica qualsevol camp del formulari */
  &:focus-within {
    background-color: var(--color-gris-clar);
  }

  /* Afegim '* Camp obligatori' als camps obligatoris del formulari */
  &:has(input:required) {
    .label-input:after {
      content: '* Camp obligatori';
      color: var(--color-vermell);
      font-size: 12px;
      margin-left: 10px;
    }
  }
}

/* ? --- --- --- --- PARÀGRAFS --- --- --- --- */
/* A dins del contenidor, selecciona etiqueta, i ordre */
.paragrafs {
  p {
    &:first-child {
      background: var(--color-blau);
      color: var(--color-blanc);
    }

    &:last-child {
      background: var(--color-negre);
      color: var(--color-blanc);
    }
  }
}

/* ? --- --- --- --- ELEMENTS --- --- --- --- */
/* A dins del contenidor, selecciona pel tipus, primer o últim */

.elements {
  p:first-of-type {
    background: var(--color-blau);
    color: var(--color-blanc);
  }

  div:last-of-type {
    background: var(--color-negre);
    color: var(--color-blanc);
  }
}

/* ? --- --- --- --- LLISTA --- --- --- --- */
/* A dins del contenidor, selecciona el número de fill */

.llista {
  li {
    /* Començant pel principi */
    &:nth-child(3) {
      background: var(--color-blau);
      color: var(--color-blanc);
    }

    /* Començant pel final */
    &:nth-last-child(2) {
      background: var(--color-negre);
      color: var(--color-blanc);
    }
  }
}

/* ? --- --- --- --- LISTA 2 --- --- --- --- */
/* A dins del contenidor, seleccona el número, per tipus */

.llista2 {
  p:nth-of-type(2) {
    background: var(--color-blau);
    color: var(--color-blanc);
  }

  div:nth-last-of-type(2) {
    background: var(--color-negre);
    color: var(--color-blanc);
  }
}

/* ? --- --- --- --- LISTA 3 --- --- --- --- */
/* A dins del contenidor, selecciona l'únic del fill del tipus X*/

.llista3 p:only-child {
  background: var(--color-blau);
  color: var(--color-blanc);
}

/* ? --- --- --- --- LISTA 4 --- --- --- --- */
/* A dins del contenidor, seleccona l'únic fill del tipus X */

.llista4 p:only-of-type {
  background: var(--color-blau);
  color: var(--color-blanc);
}

/* ? --- --- --- --- LLISTA 5 --- --- --- --- */
/* A dins del contenidor, selecciona parells i imparells */

.llista5 {
  li {
    /* Imparells */
    &:nth-child(odd) {
      background: var(--color-blau);
      color: var(--color-blanc);
    }

    /* Parells */
    &:nth-child(even) {
      background: var(--color-negre);
      color: var(--color-blanc);
    }
  }
}

/* ? --- --- --- --- LLISTA 5 --- --- --- --- */
/* A dins del contenidor, selecciona cada X elements */

.llista6 {
  li {
    /* Cada 3 */
    &:nth-child(3n) {
      background: var(--color-blau);
      color: var(--color-blanc);
    }

    /* Cada 2 començant pel 5è*/
    &:nth-child(2n+5) {
      background: var(--color-negre);
      color: var(--color-blanc);
    }
  }
}


