* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: ubuntu, sans-serif;
}

body {
	background-color: #239854;
}

.contenidor {
	margin: auto;
	max-width: 600px;
	min-height: 100vh;
	outline: 2px solid black;
	background-color: darkorange;
	display: flex;
	flex-direction: column;
	font-size: 1.6rem;
}

header,
footer {
	position: fixed;
	width: 100%;
	max-width: inherit;
	color: #fff;
}

.fons {
	padding: 1rem;
	background-color: #333;
}

.separador {
	width: 100%;
	background-color: darkorange;
	height: 1rem;
}

header{
	top:0;
}

main {
	flex: 1;
	padding: 5rem 1rem;
}

footer > p {
	text-align: center;
}

footer{
	bottom:0;
}
