


$primary-color: #3b28a5;
$accent-color: #ff652f;
$text-color: rgb(143, 172, 15);

$font-weights: (
    "medium": 600,
    "bold": 700,
    "regular": 400
);

$line-heights: (
    "normal": 1,
    "doble": 2,
    "triple": 3
);

$mobile: 800px;