


@import "./reset";
@import "./variables";

@function weight($weight-name) {
    @return map-get($font-weights, $weight-name);
}

@function line-height($line-height-name) {
    @return map-get($line-heights, $line-height-name);
}

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin theme($light-theme) {
    @if $light-theme {
        background: lighten($primary-color, 100%);
        color: darken($text-color, 100%);
    }
}

@mixin mobile {                     //La idea és fer un media query, on $mobile: 800px
    @media (max-width: $mobile) {   //Aquí li arriba paràmetre
        @content;                   //No entenc el @content
        }
}

body {
    background: $primary-color;
    color: $text-color;
}

.main {
    @include flexCenter(row);
    gap: 30px;
    width: 1200px - 50px;
    margin: 0 auto;

    #{&}-paragraf1 {
        width: 100%;
        font-family: ubuntu;
        font-weight: weight(bold);
        line-height: line-height(doble);
    }

    #{&}-paragraf1:hover {
        color: pink;
    }

    #{&}-paragraf2{
        @extend .main-paragraf1;

        &:hover {
            color: $accent-color;
        }
    }

    @include mobile {                   //Això ho tinc a dins de main
        flex-direction: column;
    }
}

.light {
    @include theme($light-theme: false);
}

