* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: "Helvetica";
	color: #345689
}

body {
	background-color: lightblue;
}

.contenidor {
	border: 5px dotted darkgreen;
	min-height: 100vh;
	padding: 1rem;
}

h1 {
	font-size: 3rem;
	text-align: center;
	margin: 1rem 0;
	text-decoration: underline;
}

p {
	font-size: 1.5rem;
	text-align: justify;
	margin: 2rem 1rem 1rem;
	line-height: 1.5;
}
